body{
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1{
    text-align: center;
}

/* Precise Positioning */
.container{
    position: relative;
    width: 500px;
    height: 300px;
    background-color: lightgray;
    margin: 30px auto;
}

.box1{
    width: 200px;
    height: 150px;
    background-color: skyblue;
    text-align: center;
    line-height: 150px;
}

.box2{
    width: 150px;
    height: 100px;
    background-color: orange;

    /* Precise Positioning */
    position: absolute;
    top: 50px;
    left: 250px;

    text-align: center;
    line-height: 100px;
}

/* Opacity Example */
.opacity-box{
    width: 250px;
    height: 120px;
    background-color: purple;
    color: white;

    text-align: center;
    line-height: 120px;

    margin: 40px auto;

    opacity: 0.5;
}

/* Hover Effect */
.opacity-box:hover{
    opacity: 1;
}